<div id="<%= dom_id category %>">
  <% if category.icon %>
  <p><%= category.icon %></p>
  <% end%>
  <h2>
    <strong>Category:</strong>   
    <%= category.name %>
  </h2>
  
  <p>
  <strong>Total Spent:</strong> 
  <p><strong><%= number_to_currency(category.expenses.sum(:price)) %></strong></p>
  </p>
  <% category.expenses.each do |expense| %>
      <p>
      <%= expense.title %> | <%= expense.price %>
    </p>
    <%= link_to "Add expense", new_expense_path %>

  <% end %>
</div>
