<div id="<%= dom_id category %>">
  <% if category.icon %>
  <p><%= category.icon %></p>
  <% end %>
  <h2>
    <strong>Category:</strong>   
    <%= category.name %>
  </h2>
  
  <% category.expenses.each do |expense| %>
    <p>
      <%= expense.title %> | <%= expense.price %>
    </p>
  <% end %>
</div>
