<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <% if category.icon %>
    <p><%= category.icon %></p>
    <% end %>
    <%=  link_to category.name, category %>
    
    <p><strong><%= number_to_currency(category.expenses.sum(:price)) %></strong>
    </p>
    <%= link_to "View Expense", category %>
    <% end %>
    <% @categories.each do |expense| %>
      <br>
      <br>
      <% end %>
      </div>

<%= link_to "New category", new_category_path %>
<br>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %> 

