<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= category.name %>
    <p>
    <%= link_to "Show this category", category %>
    </p>
    <% category.expenses.each do |expense| %>
      <%= [expense.price].sum %>
      <%= link_to "View Expense", expense %>

      <% end %>
      </div>
    <% end %>

<%= link_to "New category", new_category_path %>
