<p style="color: green"><%= notice %></p>

<%= render @category %>
<br>
<div class= "footer">
  <%= link_to "Back to categories", categories_path %> |
  <%= link_to "Edit this category", edit_category_path(@category) %> |

  <%= link_to "Destroy this category", @category, method: :delete %>
</div>
