<p style="color: green"><%= notice %></p>

<%= render @expense %>

<div class='footer'>
  <%= link_to "Edit this expense", edit_expense_path(@expense), class: "btn btn-outline-light" %> |
  <%= link_to "Back to expenses", expenses_path, class: "btn btn-outline-light" %>

  <%= button_to "Destroy this expense", @expense, method: :delete, class: "btn btn-outline-light" %>
</div>
